@import "./abstracts/variables";
@import "./abstracts/mixins";

@import "./layout/menu";
@import "./layout/footer";
@import "./layout/slide";
@import "./layout/magazine";
@import "./layout/columnists.scss";
@import "./layout/News";
@import "./layout/podcast";
@import "./layout/video";
@import "./layout/register";
@import "./layout/login";

@import "./pages/page_news";
@import "./pages/newsViews";
@import "./pages/edicoes";
@import "./pages/videos";
@import "./pages/specialMonth";
@import "./pages/about";

@import "./components/banner";
@import "./components/cardSlide";
@import "./components/cardHome";
@import "./components/cta";

body {
  font-family: $font-primary !important;
  background: getColor(primary-theme-color) !important;
}

:focus-within,
:focus {
  outline: none !important;
}
