.columnists {
  margin-top: 90px;

  h2 {
    @include subTitleH2;
    margin-bottom: 20px;
    @include media(md) {
      margin-bottom: 30px;
    }
  }
  .columnists_grid {
    display: grid;
    gap: 20px;
    margin-bottom: 90px;
    @include media(md) {
      grid-template-columns: 1fr 1fr;
    }
    @include media(lg) {
      grid-template-columns: repeat(4, 1fr);
    }
    .container_area {
      .container_img {
        height: 100%;
      }
      h5 {
        font-weight: 700;
      }
      p {
        @include paragraph($dark-colos);
      }
    }
  }
}
