footer {
  .newsletter {
    background-color: $dark-colos;
    padding: 35px 0;
    @include media(lg) {
      padding: 45px 0;
    }
    .newsletter_text {
      display: inline-flex;
      align-items: center;
      gap: 20px;
      h3 {
        color: $primary-lingh-color;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 0;
        @include media(lg) {
          font-size: 26px;
        }
      }
      p {
        font-size: 13px;
        color: $secondary-lingh-color;
        font-weight: 400;
        margin-bottom: 0;
        @include media(lg) {
          font-size: 15px;
        }
      }
    }
    .newsletter_area {
      display: flex;
      justify-content: right;
      input {
        @include input;
        width: 100%;
        @include media(lg) {
          width: 460px;
        }
      }
      button {
        margin-left: 10px;
        @include cta;
      }
    }
  }
  .footer_area {
    background-color: $primary-colors;
    padding: 35px 0;
    @include media(lg) {
      padding: 75px 0 35px;
    }
    .list-link {
      ul {
        column-count: 2;
        // column-gap: 20px;
        list-style-type: none;
        li {
          a {
            @include links;
          }
        }
      }
    }
    .social {
      margin-bottom: 20px;
      li {
        display: inline-block;
        justify-content: center;
        a {
          text-align: center;
          width: 35px;
          height: 30px;
          display: inline-block;
          background: $dark-colos;
          font-size: 20px;
          border-radius: 5px;
          transition: background 0.2s ease-in-out;
          color: $primary-lingh-color;

          &:hover {
            opacity: 1;
            background-color: $tertiary-lingh-color;
          }
        }
      }
    }
    h3 {
      font-weight: 700;
      font-size: 22px;
      margin-bottom: 20px;
      text-align: center;
      @include media(lg) {
        font-size: 28px;
        text-align: left;
      }
    }
    .link_JET {
      @include links;
      font-weight: 400;
      display: block;
      text-align: center;
      @include media(lg) {
        font-size: 15px;
        display: block;
        text-align: left;
      }
    }
    .footer-border {
      @include media(lg) {
        border-right: 1px solid $dark-colos;
      }
    }
    figure {
      img {
        max-width: 170px;
        display: block;
        margin: 0 auto;
      }
      figcaption {
        max-width: 170px;
        display: block;
        margin: 0 auto;
        line-height: 1.2;
        margin-top: 10px;
        font-size: 15px;
      }
    }
  }
  .footer_copyright {
    background-color: $primary-colors;
    p {
      text-align: center;
      font-weight: 700;
      font-size: 15px;
      margin: 0;
      padding: 15px 0;

      @include media(lg) {
        font-size: 18px;
      }
    }
  }
}
