.news {
  h2 {
    @include subTitleH2;
    margin-bottom: 20px;
    @include media(md) {
      margin-bottom: 30px;
    }
  }
  .news_area {
    display: grid;
    gap: 20px;
    margin-bottom: 45px;
    @include media(md) {
      grid-template-columns: 1fr 1fr;
      margin-bottom: 90px;
    }
    @include media(lg) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
