.slide {
  padding: 45px 0;
  position: relative;

  @include media(lg) {
    padding: 95px 0;
  }

  @include media(lg) {}
}

.owl-nav {
  z-index: -1;

  @include media(lg) {
    position: absolute;

    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 0;
  }

  @include media(lg) {
    display: block;

    .owl-prev {
      right: 51%;
      position: relative;
    }

    .owl-next {
      left: 51%;
      position: relative;
    }
  }

  button {
    background-color: $secondary-colors !important;
    color: $primary-lingh-color !important;
    font-size: 28px !important;
    width: 45px;
    height: 45px;
    border-radius: 45px !important;

    &:focus {
      outline: none;
    }
  }
}