// Color
$primary-colors: #beba33;
$primary-lingh-color: #fff;
$secondary-colors: #701ea9;
$primary-lingh-colors: #e4e4e4;
$secondary-lingh-color: #e5e5e5;
$tertiary-lingh-color: #b4b4b4;
$quaternary-gray-color: #545454;
$dark-colos: #000000;
$quaternary-indigo-colos: #201a46;
$danger-color: #d62b2b;
$podcast-color: #1ed760;
$gray-color: #00c96e;
$medium-blue: #4a81c6;
$medium-dark-blue: #4171ac;

$colors: (
  primary-theme-color: var(--primary-colors, #ffffff),
  primary-theme-colors: var(--primary-lingh-colors, #e4e4e4),
  secondary-theme-color: var(--secondary-colors, #ededed),
  tertiary-theme-color: var(--tertiary-lingh-color, #b4b4b4),
  secondary-theme-color-reverse: var(--secondary-lingh-color, #333333),
  primary-dark-theme-color: var(--dark-colos, #000000),
  primary-theme-colors-reverse: var(--quaternary-indigo-colos, #000),
  tertiary-theme-colors-reverse: var(--danger-color, #000),
  quaternary-gray-color: var(--quaternary-gray-color, #fafafa)
);
//dark theme
$colors-dark: (
  primary-theme-color: var(--primary-theme-color, #000000),
  primary-theme-colors: var(--primary-theme-colors, #1b1b1b),
  secondary-theme-color: var(--secondary-theme-color, #333333),
  secondary-theme-color-reverse: var(--secondary-theme-color-reverse, #ededed),
  tertiary-theme-color: var(--tertiary-theme-color, #313131),
  primary-dark-theme-color: var(--primary-dark-theme-color, #1a1a1a),
  primary-theme-colors-reverse: var(--primary-theme-colors-reverse, #fff),
  tertiary-theme-colors-reverse: var(--tertiary-theme-colors-reverse, #d4d4d4),
  quaternary-gray-color: var(--quaternary-gray-color, #333333)
);
:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
  --theme: "light";
}

.dark-theme {
  @each $name, $color in $colors-dark {
    --color-#{$name}: #{$color};
  }
  --theme: "dark";
}

@function getColor($color-name) {
  @return var(--color-#{$color-name});
}

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// Font
$font-primary: "din-2014", sans-serif;
$font-secondary: "din-2014", sans-serif;

// Border Radius
$border-radius: 10px;



$cores-categorias: (
  ("apas-show", #b4c6e7),
  ("economia", #d8d8d8),
  ("gestão", #fa5458),
  ("indústria", #f4b083),
  ("publieditorial", #b4c6e7),
  ("varejo", #ff3737),
  ("ESG", #000),
  ("tecnologia", #7030A0),
  ("lançamentos", #000),
  ("artigo", #8eaadb),
  ("marketing", #4ed6e8),
  ("exclusivo", #000)
);

@function obter-cor-por-categoria($categoria) {
  @each $item in $cores-categorias {
    $nome-categoria: nth($item, 1);
    $cor-categoria: nth($item, 2);
    
    @if ($nome-categoria == $categoria) {
      @return $cor-categoria;
    }
  }
  
  @warn "Categoria '#{$categoria}' não encontrada no array.";
  @return null; 
}


@each $item in $cores-categorias {
  $nome-categoria: nth($item, 1);
  $cor-categoria: nth($item, 2);
  
  .bg-#{$nome-categoria} {
    background-color: $cor-categoria;
    .owl-nav button {
      background-color: $cor-categoria !important;
    }
    .card_badge{
      background-color: $cor-categoria;
    }
    .card_slide_news_lacquers{
      background-color: $cor-categoria !important;
    }
  }
}
