.tabs {
  a.title {
    font: {
      size: 35px;
      weight: 700;
    }
    transition: color 0.2s ease-in-out;
    color: getColor(primary-theme-colors-reverse);
    margin-bottom: 45px;

    &:hover {
      color: $primary-colors;
    }

    @include media(md) {
      font: {
        size: 48px;
      }
      padding: 0 45px;
      margin-bottom: 65px;
    }
  }
  .tab-pane {
    .tabs_download {
      display: grid;
      gap: 20px 30px;
      margin-bottom: 45px;
      @include media(sm) {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 90px;
      }
      @include media(lg) {
        grid-template-columns: repeat(4, 1fr);
      }
      .tabs_item {
        .area_item {
          background: {
            color: getColor(secondary-theme-color);
          }
          border-radius: $border-radius;
          overflow: auto;
          .month {
            display: block;

            color: getColor(secondary-theme-color-reverse);
            text: {
              transform: uppercase;
              align: center;
            }
            font: {
              weight: 700 !important;
            }
            padding: 5px 10px;
            border-radius: 5px;
          }
        }
        a {
          @include cta;
          width: 100%;
          color: $dark-colos;
          margin-top: 10px;
          display: block;
          text-align: center;
          font: {
            weight: 700 !important;
          }

          &:hover {
            color: $dark-colos;
          }
          img {
            margin-right: 10px;
          }
        }
      }
    }
  }
  
}
