.news_views {
  padding-top: 25px;
  @include media(lg) {
    padding-top: 35px;
  }

  .info {
    padding-bottom: 25px;
    a {
      color: $primary-lingh-color;
      font: {
        size: 14px;
        weight: 400 !important;
      }
      margin-right: 15px;
      padding: 5px 10px;
    }
  }

  h1 {
    @include Title;
  }
  h2 {
    @include paragraph;
    margin-bottom: 35px;
    @include media(xl) {
      font-size: 22px;
    }
  }
  p {
    @include paragraph;
    @include media(xl) {
      font-size: 22px;
    }
  }

  .social {
    background-color: $quaternary-gray-color;
    border-radius: $border-radius;
    padding: 15px;
    margin-bottom: 25px;
    h3 {
      color: $primary-lingh-color;
      font-size: 22px;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      gap: 10px;
      margin: 0 0;
      li {
        text-align: center;
        border-radius: $border-radius;
        padding: 10px;
        cursor: pointer;
        a > {
          display: block;
          i {
            font-size: 24px;
            color: $primary-lingh-color;
          }
        }
      }
    }
  }
}

$redes: (#87f285, #425d95, #50a7db, #347ab3);

@for $i from 1 through length($redes) {
  .link-socal-#{$i} {
    transition: background-color 0.5s ease-in-out;
    background-color: nth($redes, $i);
    &:hover {
      background-color: darken(nth($redes, $i), 10%);
    }
  }
}

.news_views_commentary {
  h2 {
    margin-top: 50px !important;
    @include media(sm) {
      margin-top: 90px;
    }
    @include media(xl) {
      margin-top: 120px;
    }
    @include subTitleH2;
    margin: 0;
  }
  p {
    @include paragraph;
  }
  input {
    @include input;
    margin-bottom: 25px;
  }
  textarea {
    @include input;
    height: 200px;
    padding: 15px;
    margin-bottom: 15px;
  }
  button {
    border: none;
    color: $primary-lingh-color;
    padding: 6px 25px;
    font-size: 15px;
    border-radius: $border-radius;
    background-color: $secondary-colors;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: darken($secondary-colors, 10%);
      outline: none;
    }
    @include media(sm) {
      font-size: 18px;
    }
  }
}
