h1.special_title {
  @include Title();
  text-align: center;
  margin: 35px 0;
}

.special {
  background-color: $medium-blue;

  .special_area {
    display: grid;
    gap: 20px;
    padding: 45px 0;
    @include media(md) {
      grid-template-columns: repeat(3, 1fr);
    }
    .card_vertical {
      background-color: $medium-dark-blue !important;
      border: {
        color: $medium-dark-blue !important;
      }
      padding: 20px;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: $gray-color !important;
        border-color: transparent !important;
      }
      img {
        max-width: 170px;
        object-fit: contain;
        @include media(lg) {
          max-width: 220px;
        }
      }

      .card-body {
        padding: 0;
        p {
          margin: 25px 0;
          color: $primary-lingh-color !important;
          @include paragraph;
          &::after {
            content: none;
          }
        }
        a {
          background-color: $primary-lingh-color !important;
          color: $dark-colos !important;
          &::after {
            content: none;
          }
          padding: 5px 10px;
          border-radius: 5px;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
.news_special {
  img {
    width: 100%;
  }
  .card_news_special {
    background-color: $dark-colos;
    color: $primary-lingh-color;
    border-radius: $border-radius;
    overflow: auto;
    margin-bottom: 45px;

    @include media(md) {
      margin-bottom: 55px;
    }

    @include media(md) {
      display: grid;
      grid-template-columns: 1.2fr 1fr;
      align-items: stretch;
      align-content: space-between;
    }

    .card_news_special_info {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      padding: 20px;

      .card_badge {
        padding: 3px 10px;
        border-radius: 5px;
      }

      h2 {
        color: $primary-lingh-color !important;
        font-size: 22px;
        font-weight: 700;
        line-height: 1.2;
        margin: 20px 0 40px;
        font-weight: 700 !important;

        @include media(md) {
          font-size: 28px;
        }
        @include media(lg) {
          font-size: 35px;
        }
      }
      a {
        color: $primary-lingh-color;
        font-weight: 400;
        @include linkArrow();
      }
    }
  }
}

.brand {
  background-color: $gray-color;
  padding: 45px 0;
  margin-bottom: 45px;
  @include media(lg) {
    margin-bottom: 90px;
  }
  .area_brand {
    display: grid;
    gap: 20px;
    @include media(md) {
      grid-template-columns: 1fr 1.5fr;
      align-items: stretch;
      align-content: space-between;
    }
    @include media(lg) {
      gap: 45px;
    }

    img {
      object-fit: contain;
      max-width: 90%;
      display: block;
      margin: 0 auto;
    }

    div {
      h3 {
        text-align: center;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        font: {
          size: 30px;
          weight: 700;
        }
        @include media(md) {
          font-size: 28px;
        }
      }

      p {
        color: $primary-lingh-color !important;
        @include paragraph;
      }
      .area_social {
        display: grid;
        gap: 20px;
        align-items: center;

        @include media(md) {
          grid-template-columns: repeat(2, 1fr);
        }
        h3,
        .social {
          height: 100%;
          background-color: $secondary-lingh-color;
          padding: 7px 10px;
          border-radius: 5px;
          h3 {
            font: {
              size: 12px;
              weight: 700;
            }
            width: 60px;
            text-align: left;
          }
          &.social {
            display: flex;
            align-items: center;
            gap: 15px;
            ul {
              width: 100%;
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              grid-template-rows: 1fr;
              gap: 10px;
              margin: 0;
              li {
                text-align: center;
                border-radius: $border-radius;
                padding: 5px;
                cursor: pointer;
                a {
                  display: block;
                  i {
                    font-size: 18px;
                    color: $primary-lingh-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
